name: Run (small) Benchmark

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

jobs:
  run-benchmark:
    name: Run ob                                     ## the name of the run
    runs-on: ubuntu-latest                           ## using the latest ubuntu(docker) GH runner
    steps:
      - name: Checkout                               ## to checkout the tested repo
        uses: actions/checkout@v4

      - name: install updated omnibenchmark          ## to checkout the tested repo
        uses: pip install omnibenchmark==0.4.0rc2

      - name: Use action                             
        uses: omnibenchmark/run_omnibenchmark@main
        with:
          yaml: benchmark.yaml          
          backend: apptainer 

