name: Run (small) Benchmark

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

jobs:
  run-benchmark:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH

      - name: Clone omnibenchmark repository
        run: |
          git clone --branch ob-hackathon --depth 1 https://github.com/omnibenchmark/omnibenchmark.git omnibenchmark-repo

      - name: Install omnibenchmark with Pixi
        working-directory: omnibenchmark-repo
        run: |
          pixi install

      - name: Install apptainer
        working-directory: omnibenchmark-repo
        run: |
          curl -s https://raw.githubusercontent.com/apptainer/apptainer/main/tools/install-unprivileged.sh | bash -s - /opt
          /opt/apptainer --version

      - name: Run benchmark.yaml
        working-directory: omnibenchmark-repo
        run: |
          pixi run ob run -n ../benchmark.yaml
